* {
    box-sizing: border-box;
}

body {
    font-family: "tondo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo {
    margin-left: 32px;
    width: 161px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #000000;
    color: white;
}

.navItems {
    display: flex;
    color: #FFFFFF;
    align-items: center;
}

.navItems a {
    margin-right: 32px;
    /* Adds space between navigation items */
    color: white;
    /* Text color for navigation items */
    text-decoration: none;
    /* Removes underline from links */
}

.navItems .navItem4 {
    background-color: #FFDD00;
    color: #000000;
    padding: 8px 16px;
    border-radius: 16px;
    font-weight: bold;
}